server:
  error:
    include-message: always
    include-binding-errors: always

spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        globally_quoted_identifiers: true
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  datasource:
    url: jdbc:postgresql://localhost:5432/lia_projekt_backend
    username: postgres
    password: uffe
  mail:
    host: smtp.google.com
    port: 587
    username: demobackend666@gmail.com
    password: abcDE123
    properties:
      mail:
        smtp:
          ssl:
            trust: "*"
            auth: true
            starttls:
              enable: true
              connectiontimeout: 10000
              timeout: 5000
              writetimeout: 10000

